<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{company_name}} Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #banner{
            height: 320px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
    <img class="img-fluid" alt="banner-img" height="1738" id="banner" src="../static/banner.jpg" width="2607">
    <h2 class="text-center mt-2 mb-4">About Jovian</h2>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of
        Lorem Ipsum.</p>
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <div class="justify-content-center">
        {% for job in jobs %}
            {% include 'jobitem.html' %}
        {% endfor %}
    </div>
    <div style="text-align: center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">
            Copyright 2023, nawab.
        </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>